html {
    background: #36393f;
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-image: url(https://hdqwalls.com/wallpapers/battlefield-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body>nav ~ .ui.bottom.attached.segment {
    background-clip: content-box;
}

#nav {
    margin-bottom: 1rem;
}

.match-status {
    float: right;
    display: inline-flex;
    align-items: center;
}

#round-tab-menu {
    flex-wrap: wrap;
}

.button[data-option] {
    min-width: 115px !important;
}

.ui.table td.superb, .ui.table tr.superb,
.button[data-option="join"],
.button.active[data-option="join"],
.button.active[data-option="join"]:hover {
    background: #a3ffa3 !important;
    color: #237927 !important;
}

.ui.table td.weak, .ui.table tr.weak,
.button[data-option="leave"],
.button.active[data-option="leave"],
.button.active[data-option="leave"]:hover {
    background: #ffbdbd !important;
    color: #791b1b !important;
}

.table .utocnik,
.table .obrance {
    text-align: center;
}

#round-tab-menu .tab.loading {
    min-height: 500px;
}

.ui.three.cards {
    margin: 0 -1px;
}